/* Animation-related classes */

@keyframes blackscreen {
	0% {background-color: #fff;}
	50% {animation-timing-function: steps(1, end); background-color: #fff;}
	100% {background-color: #000000;}
}

/* Base class */

body {
	background-color: #000;
	padding: 0;
	margin: 0 auto;
	width: 800px;
	height: 600px;
}

/* Fonts */

@font-face {
	font-family: FifteenNarrow;
	src: url("fonts/fifteen-narrow.ttf");
}

/* Desktop-related classes */

.desktop {
	position: absolute;
	/* Obsolete code, previously used for perfect centering of the container */
	/* top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%); */
	width: inherit;
	height: inherit;
}

.bootup {
	animation-name: blackscreen;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	background-image: url("../res/boot.png");
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: inherit;
	height: inherit;
}

p {
	color: #fff;
	font-family: FifteenNarrow;
	font-size: 16px;
	text-align: center;
	position: relative;
}
