body {
	background: #000;
	padding: 0;
	margin: 0;
	width: 800px;
	height: 600px;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
}

/* Errors...? */

.err000001 {
	background-image: url("res/err/000001.png");
	background-position: center;
	background-repeat: no-repeat;
}

/* Fonts */

@font-face {
	font-family: FifteenNarrow;
	src: url("fonts/fifteen-narrow.ttf");
}

@font-face {
	font-family: PressStart;
	src: url("fonts/press-start-regular.ttf");
}

/* Desktop-related classes */

.desktop {
	background: url("../res/dot.png") repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	width: inherit;
	height: inherit;
	z-index: 1;
}

.main {
	margin: 0 auto;
	/* margin-top: 38px; */
	width: inherit;
	height: 567px;
	overflow: hidden;
	z-index: 1;
}

a {
	color: #000;
	font-family: FifteenNarrow;
	font-size: 16px;
	padding: 0;
}

/* Taskbar-related classes */

.taskbar {
	width: 100%;
	z-index: 2;
}

.menubar {
	background-color: #fff;
	border: 1px solid #000;
	border-style: none none solid none;
	display: block;
	margin: 0;
	padding: 0;
	width: inherit;
	height: 32px;
	z-index: 3;
}

.menubtn {
	padding: 0;
}

.dropmenu-content {
	background-color: #fff;
	display: block;
	min-width: 240px;
	position: absolute;
	z-index: 3;
}

.dropmenu-content a {
	color: #000;
	border: 1px solid #000;
	border-style: none solid solid none;
	/* box-shadow: 2px 2px #000; */
	display: block;
	font-family: PressStart;
	font-size: 12px;
	line-height: 0.5;
	padding: 8px 16px;
	text-decoration: none;
	text-align: right;
}

.dropmenu-content a:hover {
	background-color: #000;
	color: #fff;
}

/* Tooltips */

.robbycorner {
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 3;
}

.robbytooltip {
	display: inline-block;
	position: relative;
}

.tooltext {
	background-color: #fff;
	color: #000;
	font-family: FifteenNarrow;
	opacity: 0;
	padding: 8px 0;
	position: absolute;
	right: 50%;
	bottom: 125%;
	text-align: center;
	visibility: hidden;
	width: 160px;
	z-index: 3;
}

.tooltext:hover {
	opacity: 1;
	visibility: visible;
}

/* Robby Sez... */

.robbytext {
	color: #000;
	font-family: PressStart;
	font-size: 14px;
}